<section>
    <div class="container1 mt-3">
        
        <div class="container-content" data-aos="fade-right">
            <!-- <h1 class="text-shadow-lg">Flower</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, tempora molestias ex mollitia 
                deleniti nisi officiis numquam reiciendis distinctio 
                labore beatae alias exercitationem cumque perferendis maxime iste debitis, nesciunt saepe?</p>
            <a href="">Learn More</a> -->
            <h1 style="color: cadetblue;">ContactUs</h1>
            <div class="mb-3" style="margin-top: 60px;">
                <label for="exampleFormControlInput1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
              </div>
              <div class="mb-3" style="margin-top: 60px;">
                <label for="exampleFormControlTextarea1" class="form-label">Textarea</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
        </div>
        <div class="container-image">
            <img src="../../assets/ss.jpg" alt="">
        </div>
    </div>
</section>