<section class="container">
    <div class="row row-cols-1 row-cols-md-4 g-5">
            <div class="card" style="height: 50%;">
                <img src="../assets/i.jpg"  height="300px" width="auto" align="center">
                <div class="card-title">
                    <h1 style="text-align: center; font-size:1.5rem;">Tulip</h1>
                    <div class="card-body">
                        <p style="text-align: center;">Tulips are a genus of spring-blooming perennial herbaceous bulbiferous geophytes. The flowers are usually large, showy and brightly coloured, generally red, pink, yellow, or white.</p>
                        <div class="d-grid gap-2">
                            <button class="btn btn-outline-primary" type="button">Read More</button>
                          </div>
                    </div>
                </div>
            </div>
            <div class="card shadow-lg" style="height: 50%;">
                <img src="../assets/im.jpg"  height="300px" align="center">
                <div class="card-title">
                    <h1 style="text-align: center; font-size:1.5rem;">Millennium Delphinium</h1>
                    <div class="card-body">
                        <p style="text-align: center;">Delphinium New Millennium Hybrids produce high quality, sturdy, vertical spires that feature densely packed single and double petal blossoms in a delightful blended mix of lilac, rosy-pink.</p>
                        <div class="d-grid gap-2">
                            <button class="btn btn-outline-primary" type="button">Read More</button>
                          </div>
                    </div>
                </div>
            </div>
            <div class="card shadow-lg" style="height: 50%;">
                <img src="../assets/image3.jpg"  height="300px" align="center">
                <div class="card-title">
                    <h1 style="text-align: center; font-size:1.5rem;">Dahlia</h1>
                    <div class="card-body">
                        <p style="text-align: center;">Dahlia is a genus of bushy, tuberous, herbaceous perennial plants native to Mexico and Central America. A member of the Asteraceae family of dicotyledonous plants.</p>
                        <div class="d-grid gap-2">
                            <button class="btn btn-outline-primary" type="button">Read More</button>
                          </div>
                    </div>
                </div>
            </div>
            <div class="card shadow-lg" style="height: 50%;">
                <img src="../assets/img1.jpg"  height="300px" align="center">
                <div class="card-title">
                    <h1 style="text-align: center; font-size:1.5rem;">Pink Sunflower</h1>
                    <div class="card-body">
                        <p style="text-align: center;">Pink sunflowers are an unusual but pretty sight with the petals and stems a dark pink with lighter pink tips Pink sunflowers are an unusual but pretty sight with the petals and stems a dark pink with lighter tips.</p>
                     <div class="d-grid gap-2">
                        <button class="btn btn-outline-primary" type="button">Read More</button>
                      </div>
                    </div>
                </div>
            </div>
        </div>
</section>


