<section>
    <div class="container1 mt-5">
        <div class="container-image">
            <img src="../../assets/img.png" alt="" data-aos="fade-left">
        </div>
        <div class="container-content" data-aos="fade-right">
            <h1 class="text-shadow-lg">Flower</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, tempora molestias ex mollitia 
                deleniti nisi officiis numquam reiciendis distinctio 
                labore beatae alias exercitationem cumque perferendis maxime iste debitis, nesciunt saepe?</p>
            <a href="">Learn More</a>
        </div>
    </div>
</section>